vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jul 2018 05:29:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-76I5JFV\\Owner
vti_modifiedby:SR|DESKTOP-76I5JFV\\Owner
vti_timecreated:TR|05 Jul 2018 06:10:41 -0000
vti_backlinkinfo:VX|shimoheihe/shimoheihe/VoteList.html shimoheihe/shimoheihe/User_Change_Confirmation.html shimoheihe/shimoheihe/rogin.html shimoheihe/shimoheihe/User_Registration_Complete.html shimoheihe/top.html
vti_cacheddtm:TX|12 Jul 2018 05:29:36 -0000
vti_filesize:IR|825
